/* General Styles */
body{
    font-family: Cantarell;
    color: darkgrey;
    background-color: whitesmoke;
}

#loremimpsum{
    float: inherit;
    margin: 5% 0% 5% 20%;
}

#headerlink{
    text-decoration: none;
    color: white;
    background: #0D9ABB;
}

div#header {
    background: #0D9ABB;
    height: 40px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}


/* Div style*/

div#form {
    color: white;
    padding: 5% 2% 2% 2%;
    background-color: #037995;
}


div#form .registro{
    border-radius: 5px;
    border: 2px none;
    background: inherit;
    text-align: left;
}

div#form .registroerr{
    width: 20%;
    background: inherit;
    text-align: left;
    border-radius: 5px;
    border-color: red;
    border-width: medium;
}


/* Autores */

div#datadiv{
    position: relative;
    padding: 0% 0% 0% 0%;
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
}

div#datadiv span#alphabetic {
    font-size: 23pt;
    color: #FFD00A;
    margin: 7px 7px 7px 7px;
    column-span: all;
}

div#datadiv li {
    list-style: none;
    margin: 7px 7px 7px 7px;
}

div#datadiv li a {
    text-decoration: none;
    color: white;
}

div#datadiv li a:hover {
    color: #FFE267;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

div#datadiv span#title {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
/* Pagina de bienvenida */

div#welcomescreen {
    color: #FFE267;
    align-content: center;
    padding: 2% 0% 2% 2%;
    background-color:#037995;
}

/* input Styles */
.niceinput{
    border-radius: 5px;
    border: none;
    width: 95%;
}

.nicebutton{
    color: white;
    font-family: Cantarell;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    background-color: #0D9ABB;
    border: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.nicebutton:hover{
    background: #57B9D0;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.nicedropdown{
    border: none;
    width: 95%;
}

/* Text Syles*/
h1{
    text-align: center;
    text-decoration: none;
}

h4{
    font-family: Cantarell;
    color: darkgrey;
}

/*  Generic Styling */

span#title {
    font-weight: bold;
    color: #FFD00A;
    font-size: 18pt;
}

/* Estilo de busqueda */

div#datadiv {
    padding: 5px 5px 5px 5px;
    border: none;
    background-color: #037995;
    font-family: Cantarell;
}

div#datadiv table {

}

/*  Estilos de la pagina del autor */

div#autor {
    background-color: #037995;
    align-content: center;
    padding: 2% 5% 1% 5%;
    display: block;
    overflow: hidden;
}

div#autor span#header img {
    min-width: 24px;
    max-width: 140px;
    margin: 5px 10px 0px 0px;
    float: left;
}

div#autor span#name {
    font-size: 22pt;
    color: white;
    vertical-align: top;
    display: block;
}

div#autor span#surname {
    font-size: 10pt;
    color: #FFE267;
    display: block;
}

div#autor span#biography p {
    text-align: justify;
    color: white;
    display: block;
}

/* Estilos de los libros */

div#booklist {
    background-color: #025E73;
    align-content: center;
    padding: 1% 5% 2% 5%;
    overflow: hidden;
    display: block;
}

div#booklist span#alphabetic {
    font-size: 23pt;
    color: #FFD00A;
}

div#booklist span#bookheader {
    font-size: 21pt;
    margin-bottom: 10px;
    color: #FFD00A;
    display: block;
}

div#booklist li {
    list-style: none;
}

div#booklist li a {
    text-decoration: none;
    color: white;
}

div#booklist li a:hover {
    color: #FFE267;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

/*  Estilos de la pagina del perfil del usuario */

div#user {
    background-color: #037995;
    padding: 2% 5% 1% 5%;
    display: block;
    overflow: hidden;
}

div#user span#header {
    display: block;
    max-width: 50%;
}

div#user span#header img {
    min-width: 24px;
    max-width: 64px;
    margin: 5px 10px 0px 0px;
    float: left;
}

div#user span#username {
    font-size: 22pt;
    color: white;
    vertical-align: top;
    display: block;
}

div#user span#city {
    font-size: 15pt;
    color: black;
    vertical-align: top;
}

/* Informacion del Libro */


div#cover {
    float: left;
    padding: 5px 5px 5px 5px;
}

div#cover img {
    max-width: 200px;
}

div#information {
    margin: 2% 2% 2% 2%;
}

div#information span#title {
    font-size: 26pt;
    display: block;
}

div#information span#titler {
    color: #FFFFFF;
    font-size: 23pt;
    display: block;
}

div#information span#autor {
    font-size: 16pt;
    display: block;
}

span#autor a {
    text-decoration: none;
    color: #FFE267;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}


span#autor a:hover {
    text-decoration: none;
    color: #FFFFFF;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

div#information span#date {
    font-size: 12pt;
    display: block;
    color: #FFE267;
}

div#information span#resumen {
    font-size: 12pt;
    color: white;
    text-align: justify;
}
/*  Estilos de la tabla de datos, aun no recuerdo donde los use */

.datos th{
    background-color: #57B9D0;
    color: white;
    font-size: 20px;
}

/* Estilos del menu */

li{
    font-family: Cantarell;
}

#searchmenu {
    min-height: 100%;
    background: #0D9ABB;
    margin: 0px 0px 0px 0px;
    padding: 1% 0px 5px 1%;
}

#searchlink{
    text-decoration: none;
    color: white;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#searchlink:hover{
    text-decoration: none;
    color: #57B9D0;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.searchlink{
    text-decoration: none;
    margin: 0% 0% 0% 5%;
}

.image {
    max-width: 256px;
    min-width: 50px;
}

#menu li a{
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #0D9ABB;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#menu li a:hover{
    background: #57B9D0;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

#menu ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 0px;
    height: 36px;
    line-height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background: #0D9ABB;
    border: solid 0px #FFFFFF;
    position:relative;
    z-index:999;
}

#menu li{
    float: left;
    display: inline;
}

#menu ul li:hover > ul {
    display: inline-block;
}

#menu .dropdownmenu {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    border: none;
    background: #0D9ABB;
    text-decoration: none;
    padding: 10px 10px 5px 10px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    position: absolute;
    list-style: none;
}

#menu .dropdownmenu:after{
    content: "";
    display: table;
}

#menu .dropdownmenu:hover{
    background: #57B9D0;
    display: inline-block;
    text-decoration: none;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */

/*------------------------------------*\
    NAV
\*------------------------------------*/
#nav{
    font-family: Cantarell;
    list-style:none;
    float:left; /* Clear floats */
    position:relative;
    z-index:5;
}

#nav li{
    position:relative;
}

#nav li.submenu{
    margin: 0px 0px 200px 0px;
    position: relative;
}

#nav a{
    display:block;
    text-decoration:none;
}
#nav a:hover{
    color:#fff;
    background: #57B9D0;
    text-decoration: none;
}

/*--- DROPDOWN ---*/
#nav ul{
    background: #0D9ABB;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    padding: 0px 0px 5px 0px;
}

#nav ul li{
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background: #57B9D0;
    text-decoration: none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background: #57B9D0;
}